@using Case_Management_System.Models;
@model Lawyer
@{
	Layout = "_Layout";
}

@*
<div class="container-fluid page-header mb-3 p-0">
	<div class="container-fluid page-header-inner py-5">
		<div class="container text-center pb-5">
			<h1 class="display-3 text-white mb-3 animated slideInDown">Lawyer Info</h1>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb justify-content-center text-uppercase">
					<li class="breadcrumb-item"><a href="#">@s.Title</a></li>
					<li class="breadcrumb-item"><a href="#">@l.LawyerName</a></li>
				</ol>
			</nav>
		</div>
	</div>
</div>*@

@*<div class="container-xxl py-5">
	<div class="container">

		<div style="display:flex;justify-content:center">
			<h5 class="section-title text-center text-primary text-uppercase mb-5">Lawyer Info</h5>

		</div>
		<div style="display:flex;justify-content:space-between">
			<div>
				<h3 class="mb-5">Name: -<span class="text-primary text-uppercase">@l.LawyerName</span></h3>
			</div>
		</div>

		<div style="display:flex;justify-content:center">
			<h5 class="section-title text-center text-primary text-uppercase mb-5">Reviews</h5>

		</div>
	</div>
</div>
*@